* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    background-color: rgb(111, 131, 138);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
}

main {
    position: relative;
    margin-top: 3vh;
    margin-right: 3vh;
    width: 80%;
    height: 90vh;
    background-image: url(img/plan-69159a65c5684763515973.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

.company-rooms {
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        'conference-room conference-room ali-gap servers securite'
        'reception reception ali-gap jus-gap jus-gap'
        'reception reception ali-gap staff-room archives';
    /* gap: 4px; */
    justify-items: center;
    /* align-items: center; */
    /* position: absolute; */
    /* top: 0px; */
}

#reception {
    grid-area: reception;
    width: 80%;
    height: 90%;
    margin-top: 20px;
    background-color: rgba(0, 255, 255, 0.204);
}

#servers {
    grid-area: servers;
    width: 90%;
    height: 90%;
    margin-top: 20px;
    margin-right: 95px;
    background-color: rgba(0, 255, 255, 0.204);
}

#securite {
    grid-area: securite;
    width: 90%;
    height: 90%;
    margin-top: 20px;
    margin-right: 20px;
    background-color: rgba(0, 255, 255, 0.204);
}

#conference-room {
    grid-area: conference-room;
    width: 90%;
    height: 90%;
    margin-top: 15px;
    margin-right: 15px;
    background-color: rgba(0, 255, 255, 0.204);
}

#archives {
    grid-area: archives;
    width: 90%;
    height: 90%;
    background-color: rgba(0, 255, 255, 0.204);
    margin-top: 10px;
    margin-right: 20px;
}

#staff-room {
    grid-area: staff-room;
    width: 80%;
    height: 90%;
    margin-right: 70px;
    margin-top: 10px;
    background-color: rgba(0, 255, 255, 0.204);
}

#jus-gap {
    grid-area: jus-gap;
    width: 80%;
    height: 90%;
    /* background-color: rgba(0, 255, 255, 0.204); */
}

#ali-gap {
    grid-area: ali-gap;
    width: 80%;
    height: 90%;
    /* background-color: rgba(0, 255, 255, 0.204); */
}

/* .company-rooms>div{
    background-color: violet;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
} */

main>img {
    width: 100%;
}

aside {
    background-color: white;
    width: 15%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 5px;
    border-radius: 10px;
}

.side-bar-toggle {
    display: none;
    position: absolute;
    top: 0px;
    left: 10px;
    border: none;
    border-radius: 5px;
    padding: 0px 5px;
    background-color: transparent;
}

.side-bar-toggle:hover {
    background-color: white;
}

.hidden {
    display: flex;
}

aside>h1 {
    align-self: flex-start;
    color: rgb(37, 91, 167);
    font-size: 25px;
}

.users-cards {
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.card{
    border-radius: 10px;
    border: none;
    background-color: rgb(183, 180, 180);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20%;
    padding: 6px;
}

.modalCard{
    border-radius: 10px;
    border: none;
    background-color: rgb(183, 180, 180);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20%;
    padding: 6px;
}

.card:hover, .modalCard:hover {
    border-color: gray;
    box-shadow: 0px 0px 6px skyblue;
}

#add-worker-btn {
    border-radius: 10px;
    padding: 5px;
    width: 80%;
    height: 7%;
    background-color: rgb(37, 91, 167);
    color: white;
    font-size: 15px;
}

#add-worker-btn:hover {
    border: 5px rgb(37, 91, 167) solid;
}

.is-hidden {
    display: none;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 10px 10px 26px skyblue;
    width: 35%;
    height: 700px;
    gap: 20px;
    padding: 10px;
    padding-bottom: 30px;
    border-radius: 10px;
    z-index: 1000;
    overflow-y: auto;
}

.details-modal {
    position: absolute;
    top: 50%;
    left: 28%;
    transform: translate(-50%, -80%);
    display: none;
    /* to be hidden by default*/
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
    box-shadow: 10px 10px 26px skyblue;
    width: 20%;
    height: auto;
    gap: 20px;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    z-index: 1000;
}

#adding--modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    display: none;
    /* to be hidden by default*/
    flex-direction: column;
    align-items: center;
    background-color: lightgrey;
    box-shadow: 10px 10px 26px skyblue;
    width: 25%;
    height: auto;
    gap: 20px;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    z-index: 1000;
}

.details-modal>img {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    border: 1px black solid;
}

form>div {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

form>div>h2 {
    color: rgb(37, 91, 167);
}

input,
select {
    padding: 10px;
    width: 80%;
    border-radius: 7px;
}

.error {
    color: red;
    padding: 10px;
    width: 70%;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(246, 105, 105, 0.38);
    box-shadow: 0px 0px 6px red;
}

.image-div>img {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    border: 1px black solid;
}

#sub-btn,
.details-modal>button {
    border-radius: 10px;
    width: 50%;
    padding: 10px;
    background-color: rgb(37, 91, 167);
    color: white;
}

#add-experience {
    border-radius: 10px;
    width: 30%;
    padding: 10px;
    background-color: rgb(207, 208, 144);
    color: black;
    font-size: 12px;
}

#add-experience:hover {
    border: 2px rgb(242, 245, 62) solid;
    background-color: rgb(242, 245, 62);
}

#form-closer {
    background-color: white;
    border: none;
    font-size: larger;
}

#form-closer:hover {
    color: rgb(37, 91, 167);
}

.experiences {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.experiences>div {
    position: relative;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: gray;
    align-items: center;
    border-radius: 10px;
    gap: 10px;
}

.remove-experience{
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 0px 5px;
    background-color: red;
    color: white;
    border-radius: 7px;
}

label {
    align-self: flex-start;
}

.rooms {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.add-to-room-btn {
    padding: 3px;
    background-color: rgb(37, 91, 167);
    border-radius: 4px;
    color: white;
}

.add-to-zone {
    border-radius: 7px;
    background-color: skyblue;
    color: white;
    padding: 2px 5px;
    justify-self: flex-end;
}

.company-zones {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.company-zones>div {
    position: relative;
    padding: 5px;
    width: 40px;
    height: fit-content;
    border-radius: 7px;
    background-color: white;
    text-align: center;
}

.company-zones>div>img {
    border-radius: 100%;
    border: 1px black solid;
    width: 90%;
    height: 5%;
}

.company-zones>div>h3 {
    font-size: 10px;
}

.remove-from-zone{
    position: absolute;
    right: 0px;
    top: -5px;
    width: 25%;
    height: 25%;
    /* padding: 0px 5px; */
    background-color: red;
    /* color: white; */
    border-radius: 100%;

}

@media(max-width: 1024px) {

    main,
    .company-rooms {
        width: 100%;
    }

    aside {
        display: none;
        width: 25%;
        position: absolute;
        left: 0px;
        height: 90vh;
    }

    .side-bar-toggle {
        display: block;
        z-index: 1000;
    }

    #staff-room,
    #archives {
        height: 80%;
    }

    #reception {
        margin-bottom: 10px;
    }

    /* .company-rooms>div{
        flex-direction: column;
    } */
    /* .company-zones {
        flex-direction: column;
        align-items: center;
    } */

    .company-zones>div {
        width: 35px;
        height: 50px;
    }

    .company-zones>div>img {
        width: 20px;
        height: 20px;
    }

    #adding--modal {
        width: 30%;
    }
    .details-modal {
        width: 30%;
        left: 50%;
    }
    form{
        width: 45%;
    }
}

@media(max-width: 767px){
    aside{
        width: 35%;
    }
    #servers{
        margin-right: 50px;
    }

    #staff-room{
        margin-right: 50px;
    }
    #adding--modal {
        width: 50%;
    }
    .details-modal {
        width: 45%;
        left: 60%;
    }
    form{
        width: 60%;
    }
}